@model PROG6_2425.ViewModels.AccountBeheerVM

<h2>Accounts</h2>

<div class="row">
    <div class="col-md-4">
        <form action="/Account/CreateAccount" method="post">
            <h4>Nieuw klantaccount aanmaken.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam"></label>
                <input asp-for="Naam" class="form-control"/>
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres"></label>
                <input asp-for="Adres" class="form-control"/>
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoonNummer"></label>
                <input asp-for="TelefoonNummer" class="form-control"/>
                <span asp-validation-for="TelefoonNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="KlantenKaartTypeId">Klantenkaart Type</label>
                <select class="form-control" id="KlantenKaartTypeId" name="KlantenKaartTypeId">
                    <option value="">Selecteer een type</option>
                    @foreach (var type in Model.KlantenKaartTypes)
                    {
                        <option value="@type.Id">@type.Naam</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Account maken</button>
        </form>
    </div>
    
    @{
        var password = TempData["Wachtwoord"]?.ToString();
    }
    
    @if (!string.IsNullOrEmpty(password))
    {
        <div>
            <label>Wachtwoord voor je nieuwe gebruiker: </label>
            <input type="text" value="@password" readonly />
        </div>
    }


</div>