@using PROG6_2425.ViewModels
@model PROG6_2425.ViewModels.BoekingVM

<h3>Boeking</h3>
<!-- Partial View Step 1 -->
<div id="step1" class="wizard-step">
    @await Html.PartialAsync("_BoekingWizardStep1", new Step1VM())
</div>

<!-- Partial View Step 2 -->
<div id="step2" class="wizard-step">
    <div class="container">
        <div class="row">
            <!-- Stap 2 -->
            <div class="col-md-8">
                @await Html.PartialAsync("_BoekingWizardStep2", new Step2VM())
            </div>
            <!-- Overzicht -->
            <div class="col-md-4">
                @await Html.PartialAsync("_BoekingWizardSidebar", Model)
            </div>
        </div>
    </div>
</div>

<!-- Partial View Step 3 -->
<div id="step3" class="wizard-step">
    <div class="container">
        <div class="row">
            <!-- Stap 3 -->
            <div class="col-md-8">
                @await Html.PartialAsync("_BoekingWizardStep3", new Step3VM())
            </div>
    
            <!-- Overzicht -->
            <div class="col-md-4">
                @await Html.PartialAsync("_BoekingWizardSidebar", Model)
            </div>
        </div>
    </div>
</div>

<!-- Partial View Step 4 -->
<div id="step4" class="wizard-step">
    @await Html.PartialAsync("_BoekingWizardStep4", Model)
</div>
