<ul class="navbar-nav">
    @if(User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CreateAccount">Accounts aanmaken</a>
        </li>
    }
</ul>